@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.open{
    visibility: visible;
    opacity: 1;
}

.fade-hidden {
    opacity: 0;
    transform: translateY(30px); 
    transition: all 1s ease-out;
}


.fade-visible {
    opacity: 0.4; 
    transform: translateY(0); 
}